div#chrome_ext_slideview_images_modal_dlg
{
  position: fixed;
  border-radius: 0px;
  background: transparent;
  overflow-y: hidden;
}

.modal-backdrop.fade.in {
  position: absolute;
  background-color: #171717;
  opacity: 0.9;
  z-index: 100;
}

.slide_view {
  position: absolute;
  z-index: 101;
  height: 100%;
  width: 100%;
}

.modal-dialog.slide_view {
  margin: 0px;
}

.slide_navigation {
  margin-bottom: 10px;
  height: 20px;
  text-align: left;
  margin: 10px 20px 0px;
}

.slide_nav_close {
  font-size: 1.3em;
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.slide_body {
  left: 30px;
}

.slide_image {
  width: 1000px;
  height: 560px;
  display: table-cell;
  vertical-align: middle;
}

.slide_navigation button.close {
  border: 0px;
  background: transparent;
  font-weight: 900;
  padding: 5px;
  font-size: 25px;
  color: rgb(255, 3, 3);
  text-shadow: rgb(255, 255, 255) 0px 2px 0px;
  opacity: 0.9;
}

.slide_count_tips {
  margin-top: 10px;
  color: #FFFFFF;
  font-size: 1.5em;
  text-align: center;
}

.slide_image_title {
  margin-top: 15px;
  text-align: center;
  cursor: pointer;
}

.slide_image_title a, .slide_image_title a:link, .slide_image_title a:visited {
  text-decoration: underline;
  cursor: pointer;
  text-align: center;
  font-size: 2em;
  color: #FFD700;
}

.slide_view_image {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  z-index: 101;
  vertical-align: middle;
}

.slide_thumbnail {
  float: right;
  margin-right: 50px;
  height: 90%;
  overflow: auto;
}

ul.slide_ul {
  margin-right: 10px;
  list-style:none;
}

ul.slide_ul li {
  margin-top: 6px;
}

.img-thumbnail {
  cursor: pointer;
}

.img-thumbnail:hover {
  transform: scale(0.95);
}

.img-thumbnail-current {
  border: 3px solid red;
  background-color: transparent;
}

