.slide_view {
  display: block;
}

.slide_navigation {
  margin-bottom: 5px;
  margin-left: 20px;
  text-align: left;
  cursor: pointer;
}

.slide_body {
  float: left;
  margin-top: 5px;
  position: relative;
  right: -70px;
}

.slide_image {
  width: 1000px;
  height:560px;
  overflow:auto;
}

.slide_view_image {
  display: block;
  margin: 0 auto;
}

.slide_image_title {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  font-size: 2em;
  color: #FFD700;
}

.slide_thumbnail {
  margin-top: 20px;
  float: right;
  margin-right: 30px;
  height: 560px;
  overflow:auto;
}

.img-thumbnail-current {
  background-color: red;
}

ul.slide_ul {
  padding-right: 10px;
  list-style:none;
}

ul.slide_ul li {
  margin-bottom: 8px;
}

.img-thumbnail {
  cursor: pointer;
}

.img-thumbnail:hover {
  transform: scale(0.9);
}

.slide_nav_close {
  font-size: 1.3em;
  text-decoration: underline;
  color: red;
}

