<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel='stylesheet' type='text/css' href='../css/common.css'></link>
  </head>

  <body class='opt_body'>
    <header>
      <div class='opt_title'>
        <h1>SlideView Settings</h1>
      </div>
    </header>
      <div class='app_info'>
        <p>SlideView is an open source extension for Chrome, it will display
        all the images in the current page by slide view.</p>
        <p>You could get the source code or upgrade at <em><a href='https://github.com/tianxiaxi/SlideView'>
        https://github.com/tianxiaxi/SlideView</a></em></p>
      </div>

    <div class='opt_content'>
      <section id='opt_sec_allowedwebsite'>
        <h3 class='sec_name'>Allowed Website</h3>
        <div class='sec_body'>
          <p id='tips'>Allow the SlideView in the following websites:</p>
          <table id='allowed_website_list'>
          </table>
          <span>Domain name / IP Address:</span>
          <input id='website' placeholder='e.g.  google.com'></input>
          <button id='AddWebsite'>Add Website</button>
          <span id='error_tips'></span>
        </div>
      </section>

      <section id='opt_sec_flags'>
        <h3 class='sec_name'>General Options</h3>
        <div class='sec_body'>
          <ul class='opt_ul'>
            <li>
              <input type='checkbox' class='opt_items' id='allow_thumbnail' />
              <label for='allow'>Show thumbnail if available</label>
            </li>
          </ul>
        </div>
      </section>
    </div>

    <footer>
      <div class='opt_about'>
      <p>Look forward to your
      <a href='mailto:wayne@zanran.me'>feedback</a>, thank you!
      </p>
    </div>
    </footer>
  </body>

  <script src='../js/jquery-2.1.3.min.js'></script>
  <script src="../js/options.js"></script>
</html>